{% extends 'base.html'%}

{% block title%} Search Reasults {% endblock title%}
  {% block js %}
      <script>
      let previews=document.getElementsByClassName('preview');
      Array.from(previews).forEach((element))=>{
          element.innerHTML=element.innerText;
      };)

      {% endblock js %}
{%block blogactive %} active {% endblock blogactive %}
{% block body%}

<div class="container my-3">
    <h2> Search Results :</h2>
    {% if allPosts|length < 1 %}
    <p>No Search results</p>
    your search -<b> {{query}}</b> - did not match any documents.<br>
    Suggestions:
    <ul>
        <li> Make sure that all words are spelled correctly.</li>
        <li>Try different keywords</li>
        <li>Try more general keywords.</li>
        <li>Try fewer keywords.</li>
    </ul>
    {% endif %}
    {% for post in allPosts %}
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 my-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">{{post.title}}</a>
              </h3>
              <div class="mb-1 text-muted">{{post.datetime}}</div>
                <p class="card-text mb-auto">{{post.content| truncatechars:600|safe }}</p>
                 <div class="my-4">
                <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
            </div>
            </div>
            <div class="col-auto d-none d-lg-block">
            </div>
            </div>
    {% endfor %}
          </div>
    </div>


{% endblock body%}